fastapi
uvicorn[standard]
streamlit

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai

chromadb

sentence-transformers

pypdf

sqlalchemy

python-dotenv

python-multipart

google-generativeai

requests